version: '3.8' 

services:
  worker_one:
    build:  
      context: .  
      dockerfile: Dockerfile.keyword_scraper  
    container_name: WORKER_ONE  
    environment:  
      - RABBITMQ_HOST=rabbitmq  
    depends_on:  
      rabbitmq:
        condition: service_healthy  

  worker_two:
    build:
      context: .
      dockerfile: Dockerfile.keyword_scraper
    container_name: WORKER_TWO
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy

  rabbitmq:
    image: "rabbitmq:3-management"  
    container_name: rabbitmq  
    ports:
      - "5672:5672"  # Exposes RabbitMQ's AMQP protocol port
      - "15672:15672"  # Exposes RabbitMQ's management UI port
    volumes:
      - "rabbitmq_data:/var/lib/rabbitmq"
    environment:  
      - RABBITMQ_DEFAULT_USER=user  # Default username
      - RABBITMQ_DEFAULT_PASS=password  # Default password
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 2s  # Time between running the health check
      timeout: 5s  # Maximum time to wait for the health check to run
      retries: 5  # Number of retries before considering the service unhealthy
  
  postgres_db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      - POSTGRES_DB=ebay_data
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - "./db/init.sql:/docker-entrypoint-initdb.d/init.sql"


volumes:
  rabbitmq_data:  # Defines a volume for storing RabbitMQ data
  postgres_data:

